@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: #606060;
    background-color: #fbfbfb;
  }
}

@layer components {
  /* ---------------------------------- tooltip -------------------------------------- */
  .custom-tooltip .custom-tooltip__ctx {
    @apply absolute hidden opacity-0 left-full ml-1 px-2 py-1 rounded-lg bg-primary text-white;
  }

  .custom-tooltip:hover .custom-tooltip__ctx {
    @apply block opacity-100;
  }

  .custom-tooltip:hover .custom-tooltip__ctx.custom-tooltip__ctx--closed {
    @apply hidden opacity-0;
  }

  .content-mobile {
    height: calc(100vh - theme(spacing.24));
  }

  /* ---------------------------------- routerlink -------------------------------------- */
  .rrd-link .rrd-link__icon {
    @apply transition-colors;
  }

  .rrd-link.active,
  .rrd-link:hover {
    @apply bg-primary;
  }

  .rrd-link.active .rrd-link__icon,
  .rrd-link:hover .rrd-link__icon {
    @apply fill-white;
  }
}
